@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #111827;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #111827;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1F2937;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid white;
  /* creates padding around scroll thumb */
}

.app {
  min-height: 95.8vh
}

footer {
  bottom: 0;
}

.cont {
  margin-top: 30px;
}

.list {
  margin-top: 50px;
}

.est {
  margin-top: 30px;
}

.loginSize {
  margin-top: 100px;
}

.chargeDatasetSize {
  margin-top: 100px;
}

.inputPerson:disabled {
  background-color: #9CA3AF;
}

/* TABLE */

.table-styles {
  min-width: 650px;
}

.table-styles .MuiTableCell-root {
  border-left: 0px solid rgba(224, 224, 224, 1);
  border-right: 0px solid rgba(224, 224, 224, 1);
  border-top: 0px solid rgba(224, 224, 224, 1);
  border-bottom: 0px solid rgba(224, 224, 224, 1);
}

.table-styles .MuiTypography-colorInherit {
  color: white;
}

.table-styles .MuiInputBase-input {
  color: white
}

.table-styles .MuiSelect-icon {
  color: white
}

.table-styles .MuiSvgIcon-root {
  color: white
}

.css-pdct74-MuiTablePagination-selectLabel {
  color: white;
}

.css-levciy-MuiTablePagination-displayedRows {
  color: white;
}

.css-1chpzqh {
  color: white;
}


@media screen and (min-width: 1900px) {

  .app {
    min-height: 97.4vh;
  }

  .cont {
    margin-top: 70px;
  }

  .list {
    margin-top: 60px;
  }

  .est {
    margin-top: 70px;
  }

  .loginSize {
    margin-top: 200px;
  }

  .chargeDatasetSize {
    margin-top: 200px;
  }

}

@media screen and (min-height: 1080px) {

  .app {
    min-height: 98.67vh;
  }

}